<div ng-controller = "AlmacenController" data-ng-init="init()">
  <div class="ui modal material">
    <div class="header">Agregar al inventario</div>
    <div class="content">
      <form class="ui form">
        <h4 class="ui dividing header">{{articulo}}</h4>
          <div class="field">
            <div class="ui right labeled input">
              <input type="number" size="15" placeholder="Ingrese cantidad..." ng-model="cantidad">
              <div class="ui basic label">
                Metro(s)/Unidad(es)
              </div>
            </div>
          </div>
        </form>
      </div>
    <div class="actions">
      <div class="ui approve button" ng-click = "agregarMaterial($index)">Guardar</div>
      <div class="ui red cancel button" ng-click = "cancel()">Cancelar</div>
    </div>
  </div>

  <div class="ui modal aparato">
    <div class="header">Agregar al inventario</div>
    <div class="content">
      <form class="ui form">
        <h4 class="ui dividing header">{{articulo}}</h4>
          <div class="field">
            <input type="text" size="15" placeholder="Ingrese número de serie..." ng-model="num_serie">
          </div>
        </form>
      </div>
    <div class="actions">
      <div class="ui approve button" ng-click = "agregarAparato($index)">Guardar</div>
      <div class="ui red cancel button" ng-click = "cancel()">Cancelar</div>
    </div>
  </div>

  <div class="ui modal asignarMaterial">
    <div class="header">Asignar a cuadrilla</div>
    <div class="content">
      <form class="ui form">
        <h4 class="ui dividing header">{{articulo}}</h4>
        <div class="two fields">
          <div class="field">
            <label>Cuadrilla</label>
            <div ng-init = "materialDropdown()" class="ui selection dropdown" id="material">
              <input type="hidden" ng-model="cuadrilla">
              <div class="default text">Seleccione una cuadrilla</div>
              <div class="menu">
                <div class="item" ng-repeat="cuadrilla in cuadrillas" data-value="{{cuadrilla.Cuadrilla.id}}">{{cuadrilla.Cuadrilla.id_interno}}</div>
              </div>
              <i class="dropdown icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Cantidad</label>
            <div class="ui right labeled input">
              <input type="number" size="15" placeholder="Ingrese cantidad..." ng-model="cantidad">
              <div class="ui basic label">
                Metro(s)/Unidad(es)
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui approve button" ng-click = "asignarMaterial()">Guardar</div>
      <div class="ui red cancel button" ng-click = "cancel()">Cancelar</div>
    </div>
  </div>

  <div class="ui modal asignarAparato">
    <div class="header">Asignar a cuadrilla</div>
    <div class="content">
      <form class="ui form">
        <h4 class="ui dividing header">{{articulo}}</h4>
        <div class="two fields">
          <div class="field">
            <label>Cuadrilla</label>
            <div ng-init = "aparatoCDropdown()" ng-model="cuadrilla" class="ui selection dropdown" id="aparato">
              <input type="hidden">
              <div class="default text">Seleccione una cuadrilla</div>
              <div class="menu">
                <div class="item" ng-repeat="cuadrilla in cuadrillas" data-value="{{cuadrilla.Cuadrilla.id}}">{{cuadrilla.Cuadrilla.id_interno}}</div>
              </div>
              <i class="dropdown icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Número de serie</label>
            <div ng-init = "aparatoSDropdown()" ng-model="num_serie" class="ui selection dropdown" id="serie">
              <input type="hidden">
              <div class="default text">Seleccione un número de serie...</div>
              <div class="menu">
                <div class="item" ng-repeat="aparato in prueba.InventarioAparato" data-value='{{aparato.num_serie}},{{aparato.id}}' ng-show="{{aparato.status}} == 0">{{aparato.num_serie}}</div>
              </div>
              <i class="dropdown icon"></i>
            </div>
          </div>
        </div>
      </form>
    </div>
  <div class="actions">
    <div class="ui approve button" ng-click = "asignarAparato($index)">Guardar</div>
    <div class="ui red cancel button" ng-click = "cancel()">Cancelar</div>
  </div>
  </div>

  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Cargando almacén</div>
  </div>
  <div class="ui very padded raised segments grid" ng-show = "addAparato == 0 && addMaterial == 0">
    <div class = "two columns row">
      <div class="very padded column">
        <h1 class="ui grey huge header"><i class="archive icon"></i>Almacén</h1>
      </div>
    </div>
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="catalogoMaterial">
        Material
      </a>
      <a class="item" data-tab="catalogoAparato">
        Aparatos
      </a>
      <div class="right menu">
        <div class="item">
        </div>
      </div>
    </div>
    <div class="ui tab active" data-tab="catalogoMaterial">
      <div class="ui hidden divider"></div>
      <div class="two columns row">
        <div class="ui green button right aligned" ng-click="modalAddMaterial()">
          <i class="add circle icon"></i>
          Agregar material
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui cards">
        <div class="ui card" ng-repeat="material in materials">
          <div class="content">
            <div class="header">{{material.CatalogoMaterial.nombre}}</div>
            <div class="cantidad"><h4>Disponibles: {{material.InventarioMaterial.cantidad}}</h4><p></p></div>
            <div class="descripcion">{{material.CatalogoMaterial.descripcion}}</div>
          </div>
          <div class="ui two bottom attached buttons">
            <div class="ui inverted green button" ng-click="mostrarPopup($index)"><i class="add circle icon"></i>Inventario</div>
            <div class="ui blue button" ng-click="modalMaterial($index)"><i class="add user icon"></i>Asignar</div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
    </div>
    <div class="ui tab" data-tab="catalogoAparato">
      <div class="ui hidden divider"></div>
      <div class="two columns row">
        <div class="right aligned column">
          <div class="center aligned four wide column">
            <div class="ui green button right aligned" ng-click="modalAddAparato()">
              <i class="add circle icon"></i>
              Agregar aparato
            </div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>

      <div class="ui cards">
        <div class="card" ng-repeat="aparato in aparatos">
          <div class="content">
            <div class="header">{{aparato.CatalogoAparato.nombre}}</div><p></p>
            <div class="descripcion" ng-init="getInvAparato($index)"><h4>Disponibles: {{inventarioAparatos[$index]}}</h4></div>
          </div>
          <div class="ui two bottom attached buttons">
            <div class="ui inverted green button" ng-click="aparatoPopup($index)"><i class="add circle icon"></i>Inventario</div>
            <div class="ui bottom attached blue button" ng-click="modalAparato($index)"><i class="add user icon"></i>Asignar</div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
    </div>
  </div>

  <div class="ui raised projects segment grid" ng-show="addMaterial == 1">
    <div class = "two columns row">
      <div class="column" ng-show = "modalType == 0">
        <h1 class="ui grey huge header" >Agregar artículo</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned two wide column">
          <div class="ui blue button" tabindex="0" ng-click="addMaterial = 0"  >
            Ver catálogo
          </div>
        </div>
      </div>
    </div>
    <div id = "formModalAuto">
      <div class="content">
        <form id="form"  class="ui form">
          <div class="two fields">
            <div class="field">
              <label>Nombre</label>
              <input type="text" ng-model = "nombre">
            </div>
            <div class="field">
              <label>Cantidad</label>
              <input type="number" ng-model = "cantidad">
            </div>
          </div>
          <div class="field">
            <label>Descripción</label>
            <input type="text" ng-model = "descripcion">
          </div>
          <div class="ui blue large right floated button" ng-click = "saveMaterial()" ng-show = "modalType == 0">Guardar</div>
          <div class="ui blue large left button" ng-click = "editAuto()" ng-show = "modalType == 1">Guardar</div>
        </form>
      </div>
    </div>
  </div>

  <div class="ui raised projects segment grid" ng-show="addAparato == 1">
    <div class = "two columns row">
      <div class="column" ng-show = "modalType == 0">
        <h1 class="ui grey huge header" >Agregar aparato</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned two wide column">
          <div class="ui blue button" tabindex="0" ng-click="addAparato = 0"  >
            Ver catálogo
          </div>
        </div>
      </div>
    </div>
    <div id = "formModalAuto">
      <div class="content">
        <form id="form"  class="ui form">
          <div class="two fields">
            <div class="field">
              <label>Nombre</label>
              <input type="text" ng-model = "nombre">
            </div>
            <div class="field">
              <label>Número de serie</label>
              <input type="text" ng-model = "num_serie">
            </div>
          </div>
          <div class="ui blue large right floated button" ng-click = "saveAparato()" ng-show = "modalType == 0">Guardar</div>
          <div class="ui blue large left button" ng-click = "editAuto()" ng-show = "modalType == 1">Guardar</div>
        </form>
      </div>
    </div>
  </div>

  <div class="ui dimmer">
    <div class="ui loader"></div>
  </div>
</div>
