<div ng-controller = "AdminsController" data-ng-init="init()">
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Cargando auditores</div>
  </div>
  <div class="ui very padded raised segments grid" ng-show = "addAuditor == 0">
  <div class = "two columns row">
    <div class="very padded column">
      <h1 class="ui grey huge header"><i class="user icon"></i>Auditores</h1>
    </div>
    <div class="right aligned column">
      <div class="center aligned four wide column">
        <div class="ui green button" tabindex="0" ng-click="addAuditor = 1">
          <i class="plus icon"></i>
          Agregar Auditor
        </div>
      </div>
    </div>
  </div>
  <div id = "auditorList" class="two columns row">
    <div class="ui auditor divided selection list twelve wide column" >
      <div class="item" ng-repeat = "state in states" ng-show = "validarAuditores($index)" >
        <div class="content">
          <h3 class="ui blue header">{{state.Estado.nombre}} </h3>
          <ul id="double" class="ui middle aligned divided selection list animated twelve wide column">
            <div class="item" ng-repeat = "auditor in auditors | filter:{Estado:{id:state.Estado.id}} " ui-sref="oneAuditor({id: auditor.Auditor.id})" >
                  <i class="iu large blue Caret Right icon"></i>
              <div class="content">
                <h4 class="header">
                  {{auditor.Auditor.nombre_completo}}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui raised projects segment grid" ng-show = "addAuditor == 1">
    <div class = "two columns row">
      <div class="n wide column" >
        <h1 class="ui grey huge header" ><i class="users icon" ></i>Agregar Auditor</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned four wide column">
          <div class="ui blue button" tabindex="0" ng-click="addAuditor = 0"  >
           Ver Auditores
          </div>
        </div>
      </div>
    </div>
    <div id = "formAuditor">
      <form id="form" class="ui form">
        <div class="field">
          <label>Nombre Completo</label>
            <input type="text" ng-model = "name" placeholder="nombre" required />
        </div>
        <div class="field">
          <label>Correo</label>
            <input type="text" ng-model = "email" placeholder="correo" required>
        </div>
        <div class="eight wide field">
          <label>Teléfono</label>
          <input type="text"  ng-model = "phone" placeholder="telefono" required />
        </div>
        <div class="field">
          <label>Dirección</label>
            <input type="text" ng-model = "address" placeholder="dirección" required />
        </div>
        <div class="field">
          <label>Estado</label>
          <js-estados ident="newAuditor" estado="auditorState" required ></js-estados>
        </div>
        <div class="four wide field">
          <label>Edad</label>
          <input type="text" ng-model = "age" placeholder="edad" required />
        </div>
        <div class="ten wide field">
          <label>Contacto de emergencia</label>
          <input type="text" ng-model = "emergContact" placeholder="contacto" required />
          </div>
          <div class="eight wide field">
            <label>Teléfono de emergencia</label>
            <input type="text" ng-model = "emergPhone" placeholder="telefono" required />
          </div>
          <div class="field">
            <div class="ui checkbox">
            <input type="checkbox" ng-model = "auto_right">
            <label>Derecho a auto</label>
          </div>
        </div>
        <div class="ui blue large right floated button" ng-click = "saveAuditor()">Guardar</div>
      </form>
    </div>
    <div class="ui dimmer">
      <div class="ui loader"></div>
    </div>
  </div>
</div>
