<div ng-controller = "AutosController" data-ng-init="init()">
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Cargando autos</div>
  </div>
  <div class="ui very padded raised segments grid" ng-show = "addAuto == 0">
    <div class = "two columns row">
      <div class="very padded column">
        <h1 class="ui grey huge header"><i class="car icon"></i>Autos</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned four wide column">
          <div class="ui green button" tabindex="0" ng-click="modalAddAuto()">
          <i class="plus icon"></i>
           Agregar Auto
          </div>
        </div>
      </div>
    </div>
    <div class="ui car cards">
      <div class="ui centered  segment blue card" ng-repeat = "auto in autos" >
        <div class="header content">
          <div class = "two columns row">
            <div class="column">
              <h3 class="ui inverted header">{{auto.Auto.placas}}</h3>
            </div>
            <div class="right aligned column">
              <i class=" large edit link icon" ng-click="editAutoModal(auto.Auto, auto.Estado)"></i>
            </div>
          </div>
        </div>
        <div class="content">
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>
                  <h4 class="header">
                   Kilometraje
                  </h4>
                </td>
                <td>
                  <div class="column content">
                  {{auto.Auto.kilometraje}}
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 class="header">
                    Estado
                  </h4>
                </td>
                <td>
                  <div class="column content">
                 {{auto.Estado.nombre}}
                </div>
              </td>
              </tr>
              <tr>
                <td>
                  <h4 class="header">
                    Póliza
                  </h4>
                </td>
                <td>
                  <div class="column content">
                 {{auto.Auto.seguro_id}}
                </div>
              </td>
              </tr>
              <tr>
                <td>
                  <h4 class="header">
                    Seguro
                  </h4>
                </td>
                <td>
                  <div class="column content">
                 {{auto.Auto.compania_seguro}}
                </div>
              </td>
              </tr>
              <tr>
                <td>
                  <h4 class="header">
                    Usuario
                  </h4>
                </td>
                <td>
                  <div class="column content">
                 {{auto.Auditor.nombre_completo}} {{auto.Installer.nombre_completo}}
                </div>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="ui raised projects segment grid" ng-show = "addAuto == 1">
    <div class = "two columns row">
      <div class="column" ng-show = "modalType == 0">
        <h1 class="ui grey huge header" >Agregar Auto</h1>
      </div>
      <div class="column" ng-show = "modalType == 1">
        <h1 class="ui grey huge header" >Editar Auto</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned four wide column">
          <div class="ui blue button" tabindex="0" ng-click="addAuto = 0"  >
           Ver Autos
          </div>
        </div>
      </div>
    </div>
    <div id = "formModalAuto">
    <div class="content">
      <form id="form"  class="ui form">
        <div class="two fields">
          <div class="field">
            <label>Placas</label>
            <input  type="text" ng-model = "placas">
          </div>
          <div class="  field">
            <label>Kilometraje </label>
            <input type="text" ng-model = "kilometraje">
          </div>
        </div>
        <div class="field">
          <label>Estado</label>
          <js-estados ident="newProject" estado="projectState" required ></js-estados>
        </div>
          <div class="two fields">
            <div class="field" >
              <label>Numero de poliza</label>
              <input  type="text" ng-model = "seguro_id">
            </div>
            <div class="field">
              <label>Compañia de seguro</label>
              <input  type="text" ng-model = "compania">
            </div>
          </div>

        <div class="ui blue large right floated button" ng-click = "saveAuto()" ng-show = "modalType == 0">Guardar</div>
        <div class="ui blue large right floated button" ng-click = "editAuto()" ng-show = "modalType == 1">Guardar</div>
      </form>
    </div>
  </div>
  </div>
</div>
