<div ng-controller = "SupsController" data-ng-init="init()">
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Cargando cuadrillas</div>
  </div>

  <div class="ui very padded raised segments grid" ng-show = "addCuadrilla == 0">
    <div class = "two columns row">
      <div class="very padded column">
        <p class="ui grey huge header"></i>Cuadrillas</p>
      </div>
      <div class="right aligned column">
        <div class="center aligned four wide column">
          <div class="ui green button" tabindex="0" ng-click="addCuadrilla = 1">
            <i class="users icon"></i>
            Agregar Cuadrilla
          </div>
        </div>
      </div>
    </div>

  <h1 class="ui huge center aligned disabled icon header" ng-Show = "cuadrillas.length == 0 && addCuadrilla == 0">
    <i class="big icons">
      <i class="file text outline icon"></i>
    </i>
    <br />
    <br />
    No se encontró ninguna cuadrilla
    <div class="ui hidden divider"></div>
  </h1>

  <div class="two columns row" ng-show = "cuadrillas.length !== undefined && addCuadrilla == 0">
  <div class="ui hidden divider"></div>
    <div class="ui cards">
      <div class="ui centered card" ng-repeat="cuadrilla in cuadrillas">
        <div class="content">
          <div class="header">Cuadrilla {{cuadrilla.Cuadrilla.nombre}}</div>
        </div>
        <div class="content">
          <div class=" ui sub header">Obreros: </div>
          <div ng-repeat="obrero in cuadrilla.Obrero">{{obrero.nombre}} {{obrero.apellido}}</div>
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  </div>
</div>
  <div class="ui raised projects segment grid" ng-show="addCuadrilla == 1">
    <div class = "two columns row">
      <div class="n wide column" >
        <h1 class="ui grey huge header" ><i class="users icon"></i>Agregar Cuadrilla</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned four wide column">
          <div class="ui blue button" tabindex="0" ng-click="addCuadrilla = 0"  >
           Ver Cuadrillas
          </div>
        </div>
      </div>
    </div>
    <div id = "formAuditor">
      <form id="form" class="ui form">
        <div class="two fields">
          <div class="field">
            <label>Nombre</label>
            <input type="text" ng-model = "nombre_cuadrilla" placeholder="Ingrese el nombre de la cuadrilla" required>
          </div>
          <div class="field">
            <label>Obreros</label>
            <div ng-init = "initDropdown()" ng-model="obrerosDisponibles" class="ui multiple selection dropdown" id="dropdownObrero">
              <input type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Obreros</div>
              <div class="menu">
                <div class="item" ng-repeat="obrero in obrerosDisponibles" data-value="{{obrero.Obrero.id}}">{{obrero.Obrero.nombre}} {{obrero.Obrero.apellido}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui blue large right floated button" ng-click = "saveCuadrilla()">Guardar</div>
      </form>
    </div>
    <div class="ui dimmer">
      <div class="ui loader"></div>
    </div>
  </div>
</div>
