<div ng-controller = "AdminsController" data-ng-init="init()">
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Cargando instaladores</div>
  </div>
  <div class="ui very padded raised segments grid" ng-show = "addInstaller == 0">
  <div class = "two columns row">
    <div class="very padded column">
      <h1 class="ui grey huge header"><i class="configure icon"></i>Instaladores</h1>
    </div>
    <div class="right aligned column">
      <div class="center aligned four wide column">
        <div class="ui green button" tabindex="0" ng-click="addInstaller = 1">
          <i class="add user icon"></i>
          Agregar Instalador
        </div>
      </div>
    </div>
  </div>
  <div id = "auditorList" class="two columns row">
    <div class="ui installer divided selection list twelve wide column" >
      <div class="item" ng-repeat = "state in states" ng-show = "validarInstaladores($index)" >
        <div class="content">
          <h3 class="ui blue header">{{state.Estado.nombre}} </h3>
          <ul id="double" class="ui middle aligned divided selection list animated twelve wide column">
            <div class="item" ng-repeat = "installer in installers | filter:{Estado:{id:state.Estado.id}}" ui-sref="oneInstaller({id: installer.Installer.id})" >
                  <i class="iu large blue Caret Right icon"></i>
              <div class="content">
                <h4 class="header">
                  {{installer.Installer.nombre_completo}}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui raised projects segment grid" ng-show = "addInstaller == 1">
    <div class = "two columns row">
      <div class="n wide column" >
        <h1 class="ui grey huge header" ><i class="configure icon" ></i>Agregar Instalador</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned four wide column">
          <div class="ui blue button" tabindex="0" ng-click="addInstaller = 0"  >
           Ver Instaladores
          </div>
        </div>
      </div>
    </div>
    <div id = "formAuditor">
      <form id="form" class="ui form">
        <div class="field">
          <label>Nombre Completo</label>
            <input type="text" ng-model = "name" placeholder="Ingrese nombre" required />
        </div>
        <div class="field">
          <label>Correo</label>
            <input type="text" ng-model = "email" placeholder="Ingrese correo electrónico" required>
        </div>
        <div class="eight wide field">
          <label>Teléfono</label>
          <input type="text"  ng-model = "phone" placeholder="Ingrese teléfono" required />
        </div>
        <div class="field">
          <label>Dirección</label>
            <input type="text" ng-model = "address" placeholder="Ingrese dirección" required />
        </div>
        <div class="field">
          <label>Estado</label>
          <js-estados ident="newAuditor" estado="installerState" required ></js-estados>
        </div>
        <div class="four wide field">
          <label>Edad</label>
          <input type="text" ng-model = "age" placeholder="Ingrese edad" required />
        </div>
        <div class="ten wide field">
          <label>Contacto de emergencia</label>
          <input type="text" ng-model = "emergContact" placeholder="Ingrese contacto" required />
          </div>
          <div class="eight wide field">
            <label>Teléfono de emergencia</label>
            <input type="text" ng-model = "emergPhone" placeholder="Ingrese teléfono" required />
          </div>
          <div class="field">
            <div class="ui checkbox">
            <input type="checkbox" ng-model = "auto_right">
            <label>Derecho a auto</label>
          </div>
        </div>
        <div class="ui blue large right floated button" ng-click = "saveInstaller()">Guardar</div>
      </form>
    </div>
    <div class="ui dimmer">
      <div class="ui loader"></div>
    </div>
  </div>
</div>
