<div class="ui segment loginCard ">
    <div class="ui two column centered grid" ng-controller="AccessController">
            <div class="column">
            <h1 class="ui massive header">TLAQUEBACHE</h1>
                <form class="ui form">
                    <div class="field">
                        <label>Usuario</label>
                        <input ng-model="username" placeholder="Usuario" type="text" required>
                    </div>
                    <div class="field">
                        <label>Contraseña</label>
                        <input ng-model="password"  placeholder="Contraseña" type="password" required>
                    </div>
                    <div class="two fields">
                        <div class="field"></div>
                        <div class="field">
                            <button class="ui right floated  button" data-ng-click="login()">Iniciar sesión</button>
                        </div>
                    </div>
                </form>

            </div>
    </div>
</div>
