<div data-ng-controller="MapController">
	<div class="ui grid">
		<div class = "two columns row">
		    <div class="very padded column">
		      <h1 class="ui grey huge header"><i class="marker icon"></i>Postes</h1>
		    </div>
		    <div class="right aligned column">
		      <div class="center aligned four wide column">
		        
		      </div>
		    </div>
		  </div>
		
		<div class="row">
			<div class="ui six wide column grid">
				<div class="row">
					<div class="column">
						<div class=" ui blue segment">
							Proyecto : <strong>{{project.Project.nombre}}</strong> <br>
							Estado : <strong>{{project.Estado.nombre}}</strong> <br>
							Postes registrados : <strong>{{postes.length}}</strong> <br> 
							<div ng-if="postes.length==0 || postes==undefined" class="ui header">Aun no se tienen postes registrados en el proyecto </div> <br>


							<div class="ui celled list sideColumn">
								<div class="item" ng-repeat="poste in postes track by $index">
									Poste #{{poste.Poste.id}}
									<div class="ui right floated label" ng-click="verPoste(poste,true)" ng-show="poste.edit==false"><i class="hide icon"></i>Ocultar</div>
									<div class="ui right floated label" ng-click="verPoste(poste,false)" ng-show="poste.edit!=false"><i class="unhide icon"></i>Ver</div>
								

									<br><div ng-show="poste.edit==false" >Contratos en el poste</div>
									<div class="ui secondary segment" ng-show="poste.edit==false" ng-if="coneccion.con_status==1"  ng-repeat="coneccion in poste.Tap">
										Contrato: <strong>{{coneccion.contract}}</strong> <br>
										Servicios:
										<div class="ui small list horizontal">
											<div class="item">
												Basico: <strong ng-if="coneccion.basic_service!=0">Si</strong><strong ng-if="coneccion.basic_service==0">No</strong>
											</div>
											<div class="item">
												Conecta: <strong ng-if="coneccion.con_service!=0">Si</strong><strong ng-if="coneccion.con_service==0">No</strong>
											</div>
											<div class="item">
												Telefonia: <strong ng-if="coneccion.tel_service!=0">Si</strong><strong ng-if="coneccion.tel_service==0">No</strong>
											</div>
											<div class="item">
												Internet: <strong ng-if="coneccion.internet_service!=0">Si</strong><strong ng-if="coneccion.internet_service==0">No</strong>
											</div>
										</div>
									</div>
									<div class="ui center aligned secondary segment" ng-show="poste.edit==false" ng-if="contarContratosActivos(poste.Tap)==0">
										<div class="ui tiny statistic"><div class="value">
											<i class="user icon"></i>
										</div><div class="label">No hay contratos activos</div></div>
									</div>
									
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ten wide column">
				
			 	<div id="map" style="width: 100%; height: 70%;"  ng-init="initMap()"></div>
			</div>
		</div>
	</div>

</div>