<div  ng-controller = "ReportsController" data-ng-init="mgcReport()">
  <div class="ui active inverted dimmer">
    <div class="ui large  text loader">Cargando </div>
  </div>
  <div class="ui huge breadcrumb">
    <a class="section" ui-sref = "reports" >Reportes</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">Megacable</div>
  </div>
  <div id="outer">
    <div id="inner1">
      <div id="inner2">
        <div id="inner2bottom">
          <table class="ui selectable celled structured  blue table segment" ng-repeat="project in projects"  >
            <thead>
              <tr>
                <th colspan="20">
                  <h3 class="ui blue header">{{project.nombre}}</h3>
                </th>
              </tr>
              <tr>
                <th class ="inverted blue" rowspan="2"><p class="colonia_cell">Colonia</p></th>
                <th class ="inverted blue" rowspan="2"><p class="colonia_cell">Fecha</p> </th>
                <th rowspan="1" colspan="3">Status</th>
                <th rowspan="1" colspan="4">Tipo de Servicio</th>
                <th rowspan="2">Pirata</th>
                <th rowspan="2">Autoconectado</th>
                <th rowspan="2">Autocancelado</th>
                <th rowspan="2">Sin Filtro</th>
                <th rowspan="2">Instala Filtro</th>
                <th rowspan="2">Instala Placa</th>
                <th rowspan="2">Candados</th>
                <th rowspan="1" colspan="2">Tipo de Tap</th>
                <th rowspan="2">Ventas</th>
                <th rowspan="2">Recuperaciones</th>
              </tr>
              <tr>
              <th>Act</th>
              <th>Can</th>
              <th>Sus</th>
              <th>Bas</th>
              <th>Con</th>
              <th>Int</th>
              <th>Tel</th>
              <th>8</th>
              <th>4</th>
            </tr>
            </thead>
            <tbody ng-repeat = "report in project.Report" >
             <tr   ng-repeat = "reportInfo in report.reporte" >         
                  <td >{{reportInfo.colonia}}</td>
                  <td class="center aligned">{{report.date}}</td>
                  <td class="center aligned">{{reportInfo.conectors_active}}</td>
                  <td class="center aligned">{{reportInfo.conectors_cancel }}</td>
                  <td class="center aligned">{{reportInfo.conectors_suspend }}</td>
                  <td class="center aligned">{{reportInfo.basic_service}}</td>
                  <td class="center aligned">{{reportInfo.con_service}}</td>
                  <td class="center aligned">{{reportInfo.internet_service}}</td>
                  <td class="center aligned">{{reportInfo.tel_ervice}}</td>
                  <td class="center aligned">{{reportInfo.connectors_pirate}}</td>
                  <td class="center aligned">{{reportInfo.connectors_auto_con}}</td>
                  <td class="center aligned">{{reportInfo.connectors_auto_can}}</td>
                  <td class="center aligned">{{reportInfo.filters_num}}</td>
                  <td class="center aligned">{{reportInfo.connectors_filter}}</td>
                  <td class="center aligned">{{reportInfo.connectors_plate}}</td>
                  <td class="center aligned">{{reportInfo.connectors_locks}}</td>
                  <td class="center aligned">{{reportInfo.connectors8}}</td>
                  <td class="center aligned">{{reportInfo.connectors4}}</td>       
                  <td class="center aligned">{{reportInfo.sellsNum}}</td>       
                  <td class="center aligned">{{reportInfo.recoveredsNum}}</td>       
              </tr>
              <tr class="negative" ng-repeat = "auditor in project.Auditor" data-ng-init="missingAuditor(report.auditores, auditor)"> 
                <td colspan="20" ng-show = "auditor.report != 1" >
                  {{auditor.nombre_completo}}
                </td>             
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 
</div>


