<div ng-controller = "NominasController" data-ng-init="init()">
	<div class="ui active inverted dimmer">
    <div class="ui large  text loader">Cargando</div>
  </div>
  <div class="ui grid">
    <div class = "two columns row">
      <div class=" column">
       <h1 class="ui grey huge header"><i class="file text outline icon"></i>Nomina</h1>
      </div>
    </div>
  </div>
  <h1 class="ui huge center aligned disabled icon header" ng-Show = "nominas.length == 0">
      <i class="big icons">
        <i class="file text outline icon"></i>
      </i>
      <br />
      <br />
      No se encontró ningún reporte de nómina
    </h1>
    <div id="outer">
      <div id="inner1">
          <div id="inner2">
            <div id="inner2bottom">
				<table class="ui selectable celled structured  blue table segment">
			      <thead>
			      	<tr>
						<th rowspan="2"><p class="name_cell">NOMBRE</p></th>
						<th rowspan="2">PLAZA</th>
						<th rowspan="2">TAPS</th>
						<th rowspan="2">SD</th>
						<th rowspan="2">PERCEPCIONES</th>
						<th colspan="8">DEDUCCIONES</th>
						<th >SUMA</th>
						<th >BONO/</th>
						<th >APOYO/</th>
						<th rowspan="2">SUBTOTAL</th>
						<th rowspan="2">INFONAVIT</th>
						<th rowspan="2">TOTAL</th>
						<th >SALDO/</th>
						<th >SALDO/</th>
			      	</tr>
			        <tr>
						<th >IMPUESTO</th>
						<th >RESERVA</th>
						<th >ANTICIPOS</th>
						<th >PRÉSTAMO</th>
						<th >ABONO</th>
						<th >IMSS</th>
						<th >GAS EXTRA</th>
						<th >GASOLINA</th>
						<th >DEDUCCIONES</th>
						<th >COMISIÓN</th>
						<th >PRÉSTAMO</th>
						<th >SEM ACT</th>
						<th >ACUMULADO</th>
			        </tr>
			      </thead>
			      <tbody>
			       <tr ng-repeat = "nomina in nominas" >
			            <td >{{nomina.Report.Auditor.nombre_completo}}</td>
			            <td class="center aligned">{{nomina.Report.Project.Estado.nombre}}</td>
			            <td class="center aligned">{{nomina.Nomina.totalTaps }}</td>
			            <td class="center aligned">{{nomina.Nomina.sd }}</td>
			            <td class="center aligned">{{nomina.Nomina.perceptions | number:2}}</td>

			            <td class="center aligned">
				            	{{nomina.Nomina.impuesto | number:2}}
			            </td>
			            <td class="center aligned" ng-click = "showInput(1, $index)">
				            	{{nomina.Nomina.reserva | number:2}}
			            </td>
			            <td class="center aligned" ng-click = "showInput(2, $index)">
			            	<label ng-show="$index != myIndexY || 2 != myIndexX"  >
				            	{{nomina.Nomina.anticipos | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  2 == myIndexX" type="number" placeholder="0"     ng-model="nomina.Nomina.anticipos" ng-blur="saveField('anticipos', $index, nomina.Nomina.anticipos)" autofocus/></input>
			            </td>
			            <td class="center aligned" ng-click = "showInput(3, $index)">
			            	<label ng-show="$index != myIndexY || 3 != myIndexX">
				            	{{nomina.Nomina.prestamo | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  3 == myIndexX" type="number" placeholder="0"  ng-model="nomina.Nomina.prestamo" ng-blur="saveField('prestamo', $index, nomina.Nomina.prestamo)" autofocus/></input>
			            </td>
			            <td class="center aligned" ng-click = "showInput(4, $index)">
			            	<label ng-show="$index != myIndexY || 4 != myIndexX">
				            	{{nomina.Nomina.abono | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  4 == myIndexX" type="number" placeholder="0"  ng-model="nomina.Nomina.abono" ng-blur="saveField('abono', $index, nomina.Nomina.abono)" autofocus/></input>
			            </td>
						<td class="center aligned" ng-click = "showInput(5, $index)">
			            	<label ng-show="$index != myIndexY || 5 != myIndexX">
				            	{{nomina.Nomina.imss | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  5 == myIndexX" type="number" placeholder="0"  ng-model="nomina.Nomina.imss" ng-blur="saveField('imss', $index, nomina.Nomina.imss)" autofocus/></input>
			            </td>
			            <td class="center aligned" ng-click = "showInput(6, $index)">
			            	<label ng-show="$index != myIndexY || 6 != myIndexX">
				            	{{nomina.Nomina.gas | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  6 == myIndexX" type="number" placeholder="0"  ng-model="nomina.Nomina.gas" ng-blur="saveField('gas', $index, nomina.Nomina.gas)" autofocus/></input>
			            </td>
			             <td class="center aligned" ng-click = "showInput(7, $index)">
			            	<label ng-show="$index != myIndexY || 7 != myIndexX">
				            	{{nomina.Nomina.gasolina | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  7 == myIndexX" type="number" placeholder="0"  ng-model="nomina.Nomina.gasolina" ng-blur="saveField('gasolina', $index, nomina.Nomina.gasolina)" autofocus/></input>
			            </td>
			            <td class="center aligned">{{nomina.deducciones | number:2}}</td>
			             <td class="center aligned" ng-click = "showInput(8, $index)">
			            	<label ng-show="$index != myIndexY || 8 != myIndexX">
				            	{{nomina.Nomina.bono | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  8 == myIndexX" type="number" placeholder="0"  ng-model="nomina.Nomina.bono" ng-blur="saveField('bono', $index, nomina.Nomina.bono)" autofocus/></input>
			            </td>
			             <td class="center aligned" ng-click = "showInput(9, $index)">
			            	<label ng-show="$index != myIndexY || 9 != myIndexX">
				            	{{nomina.Nomina.apoyo | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  9 == myIndexX" type="number" placeholder="0" ng-model="nomina.Nomina.apoyo" ng-blur="saveField('apoyo', $index, nomina.Nomina.apoyo)" autofocus/></input>
			            </td>
			            <td class="center aligned">{{nomina.subtotal | number:2}}</td>
			            <td class="center aligned" ng-click = "showInput(10, $index)">
			            	<label ng-show="$index != myIndexY || 10 != myIndexX">
				            	{{nomina.Nomina.infonavit | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  10 == myIndexX" type="number" placeholder="0"  ng-model="nomina.Nomina.infonavit" ng-blur="saveField('infonavit', $index, nomina.Nomina.infonavit)" autofocus/></input>
			            </td>
			            <td class="center aligned">{{nomina.total | number:2}}</td>
			            <td class="center aligned" ng-click = "showInput(11, $index)">
			            	<label ng-show="$index != myIndexY || 11 != myIndexX">
				            	{{nomina.Nomina.semact | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  11 == myIndexX" type="number" placeholder="0"  ng-model="nomina.Nomina.semact" ng-blur="saveField('semact', $index, nomina.Nomina.semact)" autofocus/></input>
			            </td>
			            <td class="center aligned" ng-click = "showInput(12, $index)">
			            	<label ng-show="$index != myIndexY || 12 != myIndexX">
				            	{{nomina.Nomina.acumulado | number:2}}
							</label>
			            	<input ng-show="$index == myIndexY &&  12 == myIndexX" type="number" placeholder="0"  ng-model="nomina.Nomina.acumulado" ng-blur="saveField('acumulado', $index, nomina.Nomina.acumulado)" autofocus/></input>
			            </td>
			       		</tr>
			    	</tbody>
				</table>
   			</div>
   		</div>
	</div>
</div>


</div>
