<div  ng-controller = "AuditorController" data-ng-init="init()">
  <div class="ui active inverted dimmer">
    <div class="ui large  text loader">Cargando auditor</div>
  </div>
  <div class="ui huge breadcrumb">
    <a class="section" ui-sref = "auditor" >Auditores</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">{{auditor.Auditor.nombre_completo}}</div>
  </div>
  <div id="auditor" ng-show = "edit == 0">
    <div class="ui raised auditor segment grid">
      <div class = "two columns row">
        <div class="fourteen wide column">
          <h1 class="ui blue header"><i class="user icon"></i>{{auditor.Auditor.nombre_completo}}</h1>
        </div>
        <div class="two wide right aligned column">
          <div class="center aligned four wide column">
            <i class="blue big edit link right floated icon" ng-click="edit = 1">
          </i>
          </div>
        </div>
      </div>
      <table class="ui very basic table">
        <tbody>
          <tr>
            <td>
              <h3 class="header">
                <i class="puzzle large blue icon"></i>Proyecto: 
              </h3>
            </td>
            <td>
              <div class="column content">
                {{project}}
            </div>
            </td>
          </tr>
          <tr>
            <td>
               <h3 class="header">
                <i class="mail large blue icon"></i>Correo: 
              </h3>
            </td>
            <td>
              <div class="column content">
                {{auditor.Auditor.correo}}
            </div>
            </td>
          </tr>
          <tr>
            <td>
             <h3 class="header">
                <i class="call large blue icon"></i>Teléfono : 
              </h3>
            </td>
            <td>
              <div class="column content">
                {{auditor.Auditor.telefono}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="header">
                <i class="home large blue icon"></i>Dirección : 
              </h3>
            </td>
            <td>
               <div class="column content">
                  {{auditor.Auditor.direccion}}
              </div>
            </td>
          </tr>
           <tr>
            <td>
             <h3 class="header">
              <i class="marker large blue icon"></i>Estado : 
            </h3>
            </td>
            <td>
               <div class="column content">
                {{auditor.Estado.nombre}}
            </div>
            </td>
          </tr>
           <tr>
            <td>
            <h3 class="header">
              <i class="hourglass full large blue icon"></i>Edad : 
            </h3>
            </td>
            <td>
              <div class="column content">
                {{auditor.Auditor.edad}}
            </div>
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="header">
              <i class="address book large blue icon"></i>Contacto de emergencia : 
            </h3>
            </td>
            <td>
              <div class="column content">
                {{auditor.Auditor.contacto_emergencia}}
            </div>
            </td>
          </tr>
          <tr>
            <td>
             <h3 class="header">
              <i class="call large blue icon"></i>Teléfono de emergencia : 
            </h3>
            </td>
            <td>
              <div class="column content">
                {{auditor.Auditor.tel_emergencia}}
            </div>
            </td>
          </tr>
          <tr>
            <td>
             <h3 class="header">
              <i class="car large blue icon"></i>Derecho a auto  : 
            </h3>
            </td>
            <td>
              <div class="column content">
                {{autoRight}}
              <i class="ui large blue link write icon" ng-click="addAutoModal()" ng-show = "auditor.Auditor.derecho_auto == 1" ></i>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
  <div class="ui raised projectEdit segment grid" ng-show= "edit == 1">
    <div class = "two columns row">
      <div class="twelve wide column">
        <h1 class="ui blue header"><i class="user icon"></i>Editar Auditor</h1>
      </div>
      <div class="four wide right aligned column">
        <div class="center aligned four wide column">
         <div class="ui right floated button" ng-click = "edit = 0">Ver Auditor</div>
        </div>
      </div>
    </div>
    <div class="scrolling content "  id = "formProject" >
      <form id="form" class="ui form">
        <div class="field">
          <label>Nombre Completo</label>
            <input type="text" ng-model = "name" placeholder="{{auditorName}}" required />
        </div> 
        <div class="field">
          <label>Correo</label>
            <input type="text" ng-model = "email" placeholder="{{auditorEmail}}" required>
        </div>
        <div class="eight wide field">
          <label>Teléfono</label>
          <input type="text"  ng-model = "phone" placeholder="{{auditorPhone}}" required />
        </div>
        <div class="field">
          <label>Dirección</label>
            <input type="text" ng-model = "address" placeholder="{{auditorAddress}}" required />
        </div>
        <div class="field">
          <label>Estado</label>
          <js-estados ident="newAuditor" estado="auditorState" required ></js-estados>
        </div>
        <div class="four wide field">
          <label>Edad</label>
          <input type="text" ng-model = "age" placeholder="{{auditorAge}}" required />
        </div>
        <div class="ten wide field">
          <label>Contacto de emergencia</label>
          <input type="text" ng-model = "emergContact" placeholder="{{auditorEmegContact}}" required />
          </div>
          <div class="eight wide field">
            <label>Teléfono de emergencia</label>
            <input type="text" ng-model = "emergPhone" placeholder="{{auditorEmegPhone}}" required >
          </div>
          <div class="field">
            <div class="ui checkbox">
            <input id = "checkbox" type="checkbox" ng-model = "auto_right" checked="true">
            <label>Derecho a auto</label>
          </div>
        </div>
        <div class="ui blue large right floated button" ng-click = "editAuditor()">Guardar</div>
      </form>
    </div>
  </div>
  <div id = "autosModal" class="ui modal">
    <h3 class="ui blue header">Asignar auto</h3>
    <i class="close link icon" ng-click = "cancel()"></i>
    <div class="content">
      <div class="ui middle aligned divided selection list twelve wide column">
          <div class="item" ng-repeat = "auto in autos " ng-show = "auto.Auto.auditor_id == null && auditor.Auto.id == null">
            <div class="right floated content">
              <button id="button1" class="ui green mini button" ng-click = "assignAuto(auto.Auto, $index)"><i class="plus icon"></i></button>
            </div>
            <i class="square icon"></i>
            <div class="content">
              <div class="header">{{auto.Auto.placas}}</div>
              </div>
            </div>
            <div class="item" ng-repeat = "auto in autos " ng-show = "auto.Auto.auditor_id == auditor.Auditor.id">
            <div class="right floated content">
              <button id="button2" class="ui red mini button" ng-click = "removeAuto(auto.Auto.id, $index)"><i class="minus icon"></i></button>
            </div>
            <i class="square icon"></i>
            <div class="content">
              <div class="header">{{auto.Auto.placas}}</div>
              </div>
            </div>
          <div   class="disabled item" ng-repeat = "auto in autos" ng-show = "auto.Auto.auditor_id != null && auto.Auto.auditor_id != auditor.Auditor.id">
            <i class="square icon"></i>
            <div class="white content">
              <div class="ui tiny grey header">{{auto.Auto.placas}}
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


