<div class="ui container" ng-controller = "ProjectController"  data-ng-init="init()" >
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Cargando Proyecto</div>
  </div>
  <div class="ui grid">
    <div class = "two columns row">
      <div class=" column">
       <div class="ui huge breadcrumb">
        <a class="section" ui-sref = "project" >Proyectos</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">{{project.Project.nombre}}</div>
      </div>
      </div>
      <div class="right aligned column">
        <button class = "ui blue button" ui-sref="mapa({id: project.Project.id})"><i class="map icon icon"></i> Mapa </button>
        <button class = "ui green button" ui-sref="projectStatistics({id: project.Project.id})"><i class="bar chart icon"></i> Estadísticas</button>
      </div>
    </div>
  </div>
  <div id="project" ng-show = "edit == 0">
    <div class="ui project raised segment grid">
      <div class = "two columns row">
        <div class="fourteen wide column">
          <h1 class="ui blue header "><i class="puzzle icon"></i>{{project.Project.nombre}}</h1>
        </div>
        <div class="two wide right aligned column">
          <div class="center aligned four wide column">
            <i class="blue big edit link right floated icon" ng-click = "edit = 1">
            </i>
          </div>
        </div>
      </div>
      <table class="ui very basic table">
        <tbody>
          <tr>
            <td>
              <h3 class="header">
                <i class="marker large blue icon"></i>Estado : 
              </h3>
            </td>
            <td>
              <div class="column content">
              {{project.Estado.nombre }}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="header">
                <i class="home large blue icon"></i>Colonias : 
              </h3>
            </td>
            <td>
              <div class="ui list">
                <div class="item" ng-repeat = "colonia in project.ProjectColonia">
                  <i class="small blue circle notched  icon"></i>{{colonia.Colonia.nombre}}   
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="header">
                <i class="hashtag large blue icon"></i> Número de Tap : 
              </h3>
            </td>
            <td>
              <div class="column content">
              {{project.Project.num_taps}}
            </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ui project raised segment grid" ng-show = "editList == 0">
      <div class = "two columns row">
        <div class="fourteen wide column">
          <h3 class="ui grey header ">Auditores</h3>
        </div>
        <div class="two wide right aligned column">
          <div class="center aligned four wide column">
            <i class="blue large edit link right floated icon" ng-click = "editList = 1">
            </i>
          </div>
        </div>
      </div>
        <div class="scrolling content " id="showAuditors">
          <div class="ui middle aligned divided selection list twelve wide column">
            <div class="item" ng-repeat = "auditor in project_auditors" >
              <i class="square icon"></i>
              <div class="content">
                <h4 class="header">
                  {{auditor.nombre_completo}}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui project raised segment grid" ng-show = "editList == 1">
        <div class = "two columns row">
          <div class="fourteen wide column">
            <h3 class="ui grey header ">Editar Auditores</h3>
          </div>
          <div class="two wide right aligned column">
            <div class="center aligned four wide column">
               <div class="ui right floated button" ng-click = "editList = 0">Volver</div>
            </div>
          </div>
        </div>
        <div class="scrolling content " id="showAuditors">
          <div class="ui middle aligned divided selection list twelve wide column">         
            <div class="item" ng-repeat = "auditor in auditors" ng-show = " auditor.Auditor.project_id == project.Project.id ">
              <div class="right floated content">
                <button id="button1" ng-show="auditor.Auditor.project_id == project.Project.id" class="ui red mini button" ng-click = "removeAuditor(auditor.Auditor, $index)"><i class="minus icon"></i></button>
              </div>
              <i class="square icon"></i>
              <div class="content">
                <div class="header">{{auditor.Auditor.nombre_completo}}</div>
              </div>
            </div>
            <div class="item" ng-repeat = "auditor in auditors" ng-show = "auditor.Auditor.project_id == null">
              <div class="right floated content">
                <button  id="button2"  ng-show="auditor.Auditor.project_id == null" class="ui green mini button" ng-click = "assignAuditor(auditor.Auditor,  $index)"><i class="plus icon"></i></button>
              </div>
              <i class="square icon"></i>
              <div class="content">
                <div class="header">{{auditor.Auditor.nombre_completo}}
                </div>
              </div>
            </div>
            <div   class="disabled item" ng-repeat = "auditor in auditors " ng-show = "auditor.Auditor.project_id != null && auditor.Auditor.project_id != project.Project.id ">
              <i class="square icon"></i>
              <div class="white content">
                <div class="ui tiny grey header">{{auditor.Auditor.nombre_completo}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui raised projectEdit segment grid" ng-show = "edit == 1">
    <div class = "two columns row">
      <div class="column" >
        <h1 class="ui grey huge header" >Editar proyecto</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned four wide column">
          <div class="ui blue button" tabindex="0" ng-click="edit = 0"  >
           Ver Proyecto
          </div>
        </div>
      </div>
    </div>
    <div id = "formProject" >
      <div class="ui blue header"></div>
      <div class="content">
        <form id="form"  class="ui form">
          <div class="field">
            <label>Nombre</label>
            <input type="text" ng-model = "projectName" placeholder="{{project.Project.nombre}}" required>
          </div>
          <div class="field">
            <label>Estado</label>
            <js-estados ident="newProject" estado="projectState" required ></js-estados>
          </div>
          <div class="field">
            <label>Colonia</label>
            <js-colonias ident="colonia1" colonia="projectColony" array="seleccionados" required></js-colonias>
          </div>  
          <div class="four wide field">
            <label>Numero total de Tap</label>
            <input type="number" ng-model= "TapNum" placeholder="{{project.Project.num_taps}}" required>
          </div>
          <div id="addButton" class="ui blue large right floated button" ng-click = "editProject()">Guardar</div>
        </form>
      </div>
    </div>
  </div>
</div>


  

