<div ng-controller = "AdminsController" data-ng-init="init()">
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Cargando proyectos</div>
  </div>
  <div class="ui very padded raised segments grid" ng-show = "addProject == 0">
    <div class = "two columns row">
      <div class="column">
        <h1 class="ui grey huge header" ><i class="puzzle icon"  ></i>Proyectos</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned four wide column">
          <div class="ui green button" tabindex="0" ng-click="addProject = 1">
          <i class="plus icon"></i>
           Agregar Proyecto
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ui project cards" >  
        <div class="ui centered  segment blue card" ng-repeat = "project in projects | orderBy:-project.Project.id:true" >
          <div class="header content"> 
            <h2 class="ui inverted header">
            {{project.Project.nombre}}</h2>
          </div>
          <div class="content"> 
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>
                  <h4 class="header">
                   Estado  
                  </h4>
                </td>
                <td>
                  <div class="column content">
                  {{project.Estado.nombre}}
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 class="header">
                    Colonias  
                  </h4>
                </td>
                <td>
                  <ul class="ui list">
                    <div class="item" ng-repeat = "colonia in project.ProjectColonia">
                      <li > {{colonia.Colonia.nombre}}    
                    </div>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <h4 class="header">
                    Taps 
                  </h4>
                </td>
                <td>
                  <div class="column content">
                 {{project.Project.num_taps}}
                </div>
              </td>
              </tr>
            </tbody>
        </table>
          </div>
          <div class="ui bottom attached blue button" ui-sref="oneProject({id: project.Project.id})">
            <i class="add icon"></i>
            Ver proyecto
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui raised projects segment grid" ng-show = "addProject == 1">
    <div class = "two columns row">
      <div class="column" >
        <h1 class="ui grey huge header" ><i class="puzzle icon" ></i>Agregar Proyecto</h1>
      </div>
      <div class="right aligned column">
        <div class="center aligned four wide column">
          <div class="ui blue button" tabindex="0" ng-click="addProject = 0"  >
           Ver Proyectos
          </div>
        </div>
      </div>
    </div>
    <div  id = "formProject"  >
      <div class="content">
        <form id="form"  class="ui form">
          <div class="field">
            <label>Nombre</label>
            <input type="text" ng-model = "projectName" placeholder="Nombre" required>
          </div>
          <div class="field">
            <label>Estado</label>
            <js-estados ident="newProject" estado="projectState" required ></js-estados>
          </div>
            <div class="field">
              <label>Colonia</label>
              <js-colonias ident="colonia1" colonia="projectColony" array="seleccionados" required></js-colonias>
            </div>
          <div class="four wide field">
            <label>Numero total de Tap</label>
            <input type="number"  ng-model = "tapNum" placeholder="Tabs" required>
          </div>
          <div class="ui blue large right floated button" ng-click = "saveProject()">Guardar</div>
        </form>
      </div>
    </div>
  </div>
</div>

