<div  ng-controller = "StatisticController" data-ng-init="init()">
  <div class="ui active inverted dimmer">
    <div class="ui large  text loader">Cargando Taps</div>
  </div>
  <div class="ui huge breadcrumb">
  <a class="section" ui-sref = "project" >Proyectos</a>
  <i class="right chevron icon divider"></i>
  <a class="section" ui-sref="oneProject({id: project.Project.id})">{{project.Project.nombre}}</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Estadísticas</div>
  </div>
    <h1 class="ui huge center aligned disabled icon header" ng-Show = "project.Poste.length == 0">
      <i class="big icons">
        <i class="bar chart icon"></i>
      </i>
      <br /> 
      <br /> 
      No se en encontró ningún Tap
    </h1>
    <div class=" ui statistics raised card grid" ng-Show = "project.Poste.length != 0">
      <div class="content row">
        <div class="statistics header center aligned column">
          <div class="ui blue statistic">
            <div class="label">
              Taps
            </div>
            <div class="value">
              {{taps}}
            </div>
          </div>
        </div>
      </div>
    
      <div class="ui statistics content center aligned three columns row ">
          <div class=" statistic column">
            <div class=" value">
              {{active}}
            </div>
            <div class="label">
              Activos
            </div>
          </div>
          <div class=" statistic column">
            <div class=" value">
              {{canceled}}
            </div>
            <div class="label">
              Cancelados
            </div>
          </div>
          <div class=" statistic column">
            <div class=" value">
              {{suspended}}
            </div>
            <div class="label">
              Suspendidos
            </div>
          </div>
     
      </div>
    </div>
    <table class="ui selectable celled structured blue table segment" ng-repeat="Auditor in auditors">
      <thead>
        <tr>
          <th colspan="18">
            <h3 class="ui blue header">{{Auditor.nombre_completo}}</h3>
          </th>
        </tr>
        <tr>
          <th class ="inverted blue" rowspan="2">Colonia</th>
          <th rowspan="1" colspan="3">Status</th>
          <th rowspan="1" colspan="4">Tipo de Servicio</th>
          <th rowspan="2">Pirata</th>
          <th rowspan="2">Autoconectado</th>
          <th rowspan="2">Autocancelado</th>
          <th rowspan="2">Sin Filtro</th>
          <th rowspan="2">Instala Filtro</th>
          <th rowspan="2">Instala Placa</th>
          <th rowspan="2">Candados</th>
          <th rowspan="1" colspan="2">Tipo de Tap</th>
        </tr>
        <tr>
        <th>Act</th>
        <th>Can</th>
        <th>Sus</th>
        <th>Bas</th>
        <th>Con</th>
        <th>Int</th>
        <th>Tel</th>
        <th>8</th>
        <th>4</th>
      </tr>
      </thead>

      <tbody>
        <tr ng-repeat = "colony in projectColony" ng-show="tableData(colony, Auditor, $index)">
        <tr ng-repeat = "colony in projectColony">
         
            <td >{{colony.tapInfo.colony_name}}</td>
            <td >{{colony.tapInfo.conectors_active}}</td>
            <td >{{colony.tapInfo.conectors_cancel }}</td>
            <td >{{colony.tapInfo.conectors_suspend }}</td>
            <td >{{colony.tapInfo.basic_service}}</td>
            <td >{{colony.tapInfo.con_service}}</td>
            <td >{{colony.tapInfo.internet_service}}</td>
            <td >{{colony.tapInfo.tel_ervice}}</td>
            <td >{{colony.tapInfo.connectors_pirate}}</td>
            <td >{{colony.tapInfo.connectors_auto_con}}</td>
            <td >{{colony.tapInfo.connectors_auto_can}}</td>
            <td >{{colony.tapInfo.filters_num}}</td>
            <td >{{colony.tapInfo.connectors_filter}}</td>
            <td >{{colony.tapInfo.connectors_plate}}</td>
            <td >{{colony.tapInfo.connectors_locks}}</td>
            <td >{{colony.tapInfo.connectors8}}</td>
            <td >{{colony.tapInfo.connectors4}}</td>       
        </tr>
      </tbody>
  </table>
</div>


  

