<div ng-controller = "ReportsController" data-ng-init="init()">
  <div class="ui active inverted dimmer">
    <div class="ui large  text loader">Cargando</div>
  </div>
  <div id = "formReporte">
    <form id="form" class="ui form">
      <div class="field">
        <label>Calle principal</label>
          <input type="text" ng-model = "calle_principal" placeholder="Ingrese la calle" required />
      </div>
      <div class="field">
        <label>Cruce 1</label>
          <input type="text" ng-model = "cruce_uno" placeholder="Ingrese el primer cruce" required />
      </div>
      <div class="field">
        <label>Cruce 2</label>
        <input type="text"  ng-model = "cruce_dos" placeholder="Ingrese el segundo cruce" required />
      </div>
      <div class="ten wide field">
        <label>Colonia</label>
          <input type="text" ng-model = "colonia" placeholder="Ingrese la colonia" required />
      </div>
      <div class="ten wide field">
        <label>Tipo de suelo</label>
        <div ng-init = "initDropdownSuelo()" ng-model="tipo_suelo" class="ui selection dropdown" id="dropdownSuelo">
          <input type="hidden">
          <div class="default text">Seleccione un tipo</div>
          <div class="menu">
            <div class="item" data-value="empedrado">Empedrado</div>
            <div class="item" data-value="asfalto">Asfalto</div>
            <div class="item" data-value="concreto">Concreto</div>
            <div class="item" data-value="adoquin">Adoquín</div>
            <div class="item" data-value="tierra">Tierra</div>
          </div>
          <i class="dropdown icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Descripción</label>
        <input type="text" ng-model = "descripcion" placeholder="Ingrese una breve descripción de la irregularidad" required />
      </div>
      <div class="ui blue large right floated button" ng-click = "saveReporte()">Enviar!</div>
    </form>
  </div>
</div>
