<p style="margin: 0 0 1em;line-height: 1.4285em;">Felicidades has sido  certificado como conductor en Envios Porter.</p>
    <div class="ui divider" style="margin: 1rem 0;line-height: 1;height: 0;font-weight: 700;text-transform: uppercase;letter-spacing: .05em;color: rgba(0,0,0,.85);-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: transparent;font-size: 1rem;border-top: 1px solid rgba(34,36,38,.15);border-bottom: 1px solid rgba(255,255,255,.1);"></div>
    <div class="ui   container" style="display: block;max-width: 100%!important;">
        <h4 class="ui centered medium header" style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;line-height: 1.28571429em;margin: calc(2rem - .14285714em) 0 1rem;font-weight: 700;padding: 0;font-size: 1.28571429em;margin-top: -.14285714em;margin-bottom: 0;border: none;text-transform: none;color: rgba(0,0,0,.87);text-align: center;">Usuario: <?php echo $user; ?><br> Password: <?php echo $pass; ?></h4>
    </div>