<form class="ui form">
<div  class="two fields">
	<div class="eight wide  field">
		<div  id="{{ident}}" class="ui selection dropdown " >
			<i class="dropdown icon"></i>
			<div class="default text">Colonia</div>
			<div class="menu">
			<div class="item" data-value="{{colonia.Colonia.id}}" ng-repeat="colonia in colonias">{{colonia.Colonia.nombre}}</div>
			</div>
		</div>
	</div>
	<div class="field">
		<div ng-repeat="selected in seleccionados">
			<div class="ui imag	e label">
				{{selected.nombre}}
				<i class="delete icon" ng-click="delete(selected)"></i>
			</div>
		</div>
	</div>
</div>
<div class="eight wide field">
    <label>Otra</label>
    <div class="ui action input">
      <input  id = "colInput" type="text" ng-model = "otherColony" placeholder="Agregar colonia" optional>  
      <button class="ui icon button" ng-click =  "addColony()">
        <i class="plus icon"></i>
      </button>
    </div>
</div> 
</form>

