<div  id="{{ident}}" class="ui selection dropdown " >
	<i class="dropdown icon"></i>
	<div class="default text">Estado</div>
	<div class="menu">
	<div class="item" data-value="{{estado.Estado.id}}" ng-repeat="estado in estados">{{estado.Estado.nombre}}</div>
	</div>
</div>

