#main{
	/*background-color: #4C7EA2;	*/
	 background-color: white !important;
	 font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}
/*td{
	font-size: 1em !important;
}*/
.ui.huge.menu{
	height: 20px;
	background: #1b9289;
	box-shadow: none;
	height: 8%;
	padding: 5px;
	margin-top: 5px;
	border: 3px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	border-radius: 0px;

}
.ui.tiny.image, .ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg {
    width: 80%;
    height: auto;
    font-size: .85714286rem;
    margin: 4px;
    padding: 10px;
}

.ui.raised.segments{
	background-color: white;
}

.ui.green.button, .ui.green.buttons .button {
    background-color: #ea7f14;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
/* Forma de cuadrillas*/
.ui.green.button, .ui.green.buttons .button {
    background-color: #ea7f14;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.green.button:hover, .ui.green.buttons .button:hover {
    background-color: #aaa;
    color: #FFF;
    text-shadow: none;
}
.ui.grey.header {
    color: #767676!important;
    font-size: 1.8em;
    font-family: century gothic;
    padding-left: 10px;
}
/* .ui.form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .ui.form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }*/
.greenPorter.header{
	color: #AEBD19 !important;
}
.greenPorter.button{
	color: #5B5C5E !important;
	background-color: #AEBD19 !important;
}
.greyPorter{
	background-color: #5B5C5E !important;
}
.greyPorterTrans{
	background-color: rgba(91, 92, 94, 0.8) !important;
}
/*---LOG IN----*/
.loginCard {
  position: relative;
	top: 20vh;
	width: 30%;
	height: auto;

}
.ui.modal {
    display: none;
    z-index: 1001;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 70%;
    text-align: left;
    background: #FFF;
    border: none;
		width: 25%;
    box-shadow: 1px 3px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2);
    user-select: text;
    will-change: top,left,margin,transform,opacity;

}
.ui.modal>.header:not(.ui) {
    font-size: 1.42857143rem;
    line-height: 1.2857em;
    font-weight: 700;
    vertical-align: middle;
    color: teal;
}
.ui.tiny.image, .ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg {
    width: 80%;
    height: auto;
    font-size: .85714286rem;
    margin: 4px;
    padding: 10px;
    vertical-align: middle;
    right: -8.5%;
}
.ui.blue.button, .ui.blue.buttons .button {
    background-color: #ea7f14;
    color: #FFF;
    text-shadow: none;
    background-image: none;
}

.singupCard {
    position: relative;
	top: 0vh;

}
.preViewLogo{
	width: 150px;
	height: 150px;
	background-color: black;
}
#requestsContainerCards{
	overflow: scroll; 
	height: 70%;
}
ul {
	list-style: none;
	align-content: left;
}

.ui.auto.form .fields>.fields{
	padding: 2000px, 200px,200px,200px;
}
/*.some .content {
	padding : 5em, 1em, 1em, 1em;
}*/

@media screen and (min-width: 1px) {
  #formProject {
    width: 550px;
    margin: auto;
    padding-bottom: 5vh;
  }
 .ui.raised.projects.segment.grid{
    margin: auto;
    width: 700px;
 }
 .ui.raised.projectEdit.segment.grid{
    margin: auto;
    margin-top: 3vh;
    width: 650px;
 }
  #formReporte {
    width: 600px;
    margin: auto;
    padding-bottom: 5vh;

  }

  #formModalAuto{
    width: 500px;
    margin: auto;
    padding-bottom: 5vh;
  }
  #showAuditors{
  	height: 20vh;
  	width: 550px;
	overflow-x: hidden;
	overflow-y: scroll;
  }
}

.ui.project.cards{
	padding-top: 4vw;
	padding-bottom: 5vw;
}
.ui.car.cards{
	padding-top: 4vw;
	/*padding-left: 7vw;*/
	padding-bottom: 5vw;
}
.ui.auditor.divided.selection.animated.list.twelve.wide.column{
	padding-top: 4vw;
	padding-left: 10vw;
	padding-bottom: 5vw;
}
.ui.raised.car.segments{
	width: 40vw;
	padding-top: 2vw;
	padding-left: 5vw;
	padding-bottom: 2vw;
	padding-right: 5vw;
}
#autoF{
	padding-left: 15vw;
}
#project{
	padding-top: 1vh;
	padding-left: 12vw;
	padding-bottom: 5vh;
	padding-right: 12vw;
}
.ui.project.raised.segment {
	padding-top: 5vh;
	padding-left: 5vw;
	padding-bottom: 5vh;
	padding-right: 3vw;
}
.ui.statistics.raised.card {
	/*padding: 2vh 3vw 2vh 3vw;*/
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 40vw;
}
.extra.project.content {
	padding-top: 3vw;
	padding-left: 2.5vw;
}
.ui.raised.auditor.segment {
	padding-top: 5vh;
	padding-left: 5vw;
	padding-bottom: 5vh;
	padding-right: 3vw;
}
#auditor{
	padding-top: 1vh;
	padding-left: 12vw;
	padding-bottom: 5vh;
	padding-right: 12vw;
}

#auditorList{
	padding-left: 12vw;
	padding-top: 2vw;
	padding-bottom: 5vh;
	padding-right: 3vw;
}

.notAvailable {
	color : red;
}

.header.content{
	background-color: #2185D0 !important; 
}
.ui.inverted.header{
	color: white !important;

}
.ui.list ul{
	list-style-type:circle;
}

.menu.header{
	color: white;


}
.colored tr{
	color: #587E9A !important;
}
#outer {
  display: flex;
  /*height: 70vh; */
  flex-direction: row;
  align-items: stretch;
  /*border-style: solid;*/
}
#inner1 {
  flex: 1;
  /*border-style: dotted;*/
  overflow-x:scroll;
}
#inner2 {
  display: flex;
  flex-flow: column;
  /*height: 100%;*/
}
#inner2top {
  flex: 0 1 auto;
  /*background-color: cyan;*/
  float:left;
  position:fixed;
  width:100%;
}
#inner2bottom {
  flex: 1 1 auto;
}

table td input {
  width: 100%;
  height: 100%;
	box-sizing: border-box;
	border: none;
	text-align: center;
	/*display: none;*/
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

p.name_cell {
	padding-left: 6vw;
	padding-right: 6vw;
}
p.colonia_cell {
	padding-left: 4vw;
	padding-right: 4vw;
}

.sideColumn{/*Usado en mapas*/
	max-height: 400px !important;
	overflow-y: scroll;
	background-color: white;
}
